
body {
    background-color : #ABABAB;
}

.tausta {
    font-size : 17;
    font-style : normal;
    font-family : Arial, Helvetica, sans-serif;

    background-color : #ABABAB;
}


div {
    background-color : #D8D8D8; 
    margin : 20px 20px 30px 20px;
    padding : 0px 0px 5px 0px;

}

.gametitle {
    color : #000000;
    font-size : 17;
    font-style : normal;
    font-family : Arial, Helvetica, sans-serif;
}

h2 {
    color : #000000;
    font-size : 17;
    font-style : normal;
    font-family : Arial, Helvetica, sans-serif;
    background-color : #959595;
    margin : 0px 0px 10px 0px;
    padding : 0px 0px 0px 10px;
}

.ab {
    color : #000000;
    font-size : 15;
    font-style : normal;  
    margin : 0px 0px 0px 0px;
    padding : 0px 0px 0px 0px;
}

.intended_text {
    color : #000000;
    font-size : 15;
    font-style : normal;
    font-family : Arial, Helvetica, sans-serif; 
    margin : 0px 0px 0px 0px;
    padding : 3px 30px 3px 30px;
}
.ad {
    color : #000000;
    font-size : 15;
    font-style : normal;
    font-family : Arial, Helvetica, sans-serif;
    margin : 40;
}
.ae {
    color : #000000;
    font-size : 15;
    font-style : normal;
    margin : 0;
    font-family : Arial, Helvetica, sans-serif;
}